:root {
    --bg-color: #f4f4f4;
    --container-bg: #fff;
    --text-color: #333;
    --button-bg: #333;
    --button-text: #fff;
    --result-bg: #e6e6e6;
}

[data-theme="dark"] {
    --bg-color: #0e0e0e;
    --container-bg: #000000;
    --text-color: #f4f4f4;
    --button-bg: #f4f4f4;
    --button-text: #333;
    --result-bg: #555;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background-color: var(--container-bg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

h1, h2 {
    color: var(--text-color);
}

.subject {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 100px;
}

select {
    width: 150px;
    padding: 5px;
    background-color: var(--container-bg);
    color: var(--text-color);
    border: 1px solid var(--text-color);
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    opacity: 0.8;
}

#result {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--result-bg);
    border-radius: 5px;
}

.hidden {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

em {
    margin-left: 10px;
    font-size: 1rem;
}
